/* for nav */
.head-contenair{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    width: 1220px;
    height: 600px;
    margin-bottom: 120px;
    display: flex;
}
/* main-65% off */
.off-headline{
    color: #FF0000;
   font-weight: bold;
   font-size: 88px;
   text-align: center;
}
/* font-family */


/* .off-contenair { */
    display: flex;
   margin:0 auto;
   width: 100%;
}

.font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.holiday-deals{
    font-weight: 10px;
    font-size: 24px;
    color: #FF0000;
     text-align: center;
    
}
.holiday-deals-all-categories{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    text-align: center;
}
.off-img{
    margin-left: 390px;
    margin-right: 390px;
    
}