/* for nav */


*{
     margin-bottom: 66px;
}
.head-contenair{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    width: 1220px;
    height: 600px;
    margin-bottom: 120px;
    display: flex;
}
/* main-65% off */
.off-headline{
    color: #FF0000;
   font-weight: bold;
   font-size: 88px;
    margin-left: 390px;
    margin-right: 390px;
}
/* font-family */


/* .off-contenair { */
    display: flex;
   margin:0 auto;
   width: 100%;
}

.font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.holiday-deals{
    font-weight: 10px;
    font-size: 24px;
    color: #FF0000;
      margin-left: 390px;
    margin-right: 390px;
    
}
.holiday-deals-all-categories{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
     margin-left: 390px;
    margin-right: 390px;
}
.off-img{
    margin-left: 390px;
    margin-right: 390px;
    
}
/* midnight */
.img-midnight{
    max-width: 100%;
    height: auto;
    
}
.midnight-contanir{
    position: relative;
}
.midnight-text{
    position: absolute;
    top: 0px;
    color: #FFFFFF;
    padding: 100px;
}
.mid-wel{
    font-size: 64px;
    font-weight: bold;
}
.mid-para{
   color:#FFFFFF;
   font-size: 18px;
   
}
